.sidebar {
	/* transform: translateX(-100%); */
	/* transition: transform 2s; */
  display:none;
  
}

.sidebar.open {
  width: 300px;
  z-index: 2;
  background-color: white;
  display: block;
  position: absolute;
	top: 0;
	left: 0;
  /* overflow: visible; */
  /* transition-property: all;
  transition-duration: 10s;  */
  height: 100vh;
  box-shadow: 0px 10px 40px rgba(29, 33, 38, 0.13), 0px 1px 2px rgba(29, 33, 38, 0.1);
 
}


.background {
  position: absolute;
/* display: block; */
min-width: 100%;
min-height: 100vh;
background: #000000;
z-index: 1;
opacity: .3;
}

.nav {
  display: flex;
  flex-direction: column;
  z-index: 1;
  

  
}

.nav a {
  color: #000000;
  font-size: 22px;
  text-decoration: none;
  margin: 0 auto;
  padding: 30px 0px;

  
}

.nav a:hover {
  color: #58ACFF;
}

.nav a.active {
  color: #0059B2;
  text-decoration: underline;
}
.close {
 position: absolute;
 top: 10px;
 right: 10px;
 border: none;
 background-color: white;
  
}

.close img {
}
