.sidebar {
  
}

.sidebar.open {
  width: 350px;
  background-color: white;
}

.background {
  
}

.nav {
}

.nav a {
}

.nav a:hover {
}

.nav a.active {
  color: #58ACFF;
}
.close {
}

.close img {
}
