.input:focus {
}

.input {
  width: 380px;
  height: 36px;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 10px;
  border: 1px solid #D1D1D1;
}
.input:focus {
outline: none;
}

.inputWrapper {
  display: flex;
  flex-direction: column-reverse;
  /*  padding-top: 20px; */
}

.superInput {
}

.errorInput {
  border: 1px solid red;
  /* padding-top: 0; */
}

.errorInput:focus {
}

.error {
  color: #CC1439;
  font-weight: 400;
font-size: 10px;
line-height: 12px;
height: 17px;
}
