.sendForm {
  display: flex;
  justify-content: space-around;
  /* width: 100%; */
  /* align-items: center; */
  padding-top: 50px;  
  
}

.textarea {
  /* background: #F5F7FB;
  box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03), 0px 1px 2px rgba(29, 33, 38, 0.1);
  border-radius: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.6);
  width: 976px;
  height: 40px;
  opacity: 0.9; */

  background-color: #F5F7FB;
  border-radius: 20px;
  
  width: 976px;
  font-size: 17px;
  padding: 10px 10px 10px 24px;
  /* margin: 50px auto; */
  resize: none;
  min-height: 40px;
  overflow: hidden;
  opacity: 0.9;
  
  
}

.button {
  background-color: #0066CC;
  border-radius: 20px;
  color: white;
  width: 120px;
  height: 40px;
  
}

.button:hover {}

.button:active {}